<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ app_name }}</title>
    <link rel="manifest" href="app.webmanifest" />
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.11"
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <style type="text/tailwindcss">
      @layer utilities {
        .btn {
          @apply rounded-md font-normal bg-gray-300/75 border-none px-3 py-2;
        }
        .btn-rounded-r {
          @apply rounded-none rounded-r-md font-normal bg-gray-300/75 border-none px-3 py-2;
        }
        .btn-primary {
          @apply bg-sky-500/75 text-slate-50;
        }
        .btn:hover {
          @apply cursor-pointer bg-gray-300;
        }
        .btn-primary:hover {
          @apply bg-sky-500 text-white;
        }
        .btn:focus-visible,
        .file-upload:focus-visible {
          @apply shadow-sm border-sky-300 ring ring-sky-200 ring-opacity-50;
          outline: none;
        }
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <div id="init-root" class="font-sans h-full">
      <div
        id="in-browser-notice"
        class="max-w min-h-10 bg-sky-400 py-1 px-2 flex flex-col justify-center text-white hidden"
      >
        <span
          >We detected that the app is launched in the browser. Please, install
          it as application.</span
        >
      </div>
      <div class="grid sm:grid-cols-2 grid-cols-1 mx-auto p-4 container">
        <div class="max-w-sm min-w-64 flex flex-col">
          <div>
            <h2 class="text-2xl font-semibold mb-4">Generate session code</h2>
            <div id="session-data-root">
              <button
                hx-post="/session"
                hx-ext="json-enc"
                hx-vals='js:{"peer_id": manager.peer.id}'
                hx-target="#session-data-root"
                hx-swap="outerHTML"
                hx-disabled-elt="this"
                class="btn btn-primary focus:none focus-visible:none"
              >
                Create
              </button>
            </div>
          </div>
        </div>
        <div class="max-w-sm min-w-64">
          <h2 class="text-2xl font-semibold mb-4">
            Or join using existing code
          </h2>
          <div class="flex flex-row">
            <input
              type="text"
              required
              spellcheck="false"
              autocomplete="off"
              minlength="6"
              maxlength="6"
              class="block w-full rounded-l-md border-gray-300 shadow-sm focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50"
              id="join-session-id"
              name="session_id"
              placeholder="Session code..."
            />
            <button
              id="join-btn"
              class="focus:none focus-visible:none btn btn-rounded-r"
            >
              Join
            </button>
          </div>
          <div id="join-messages" class="flex flex-row mt-4"></div>
        </div>
      </div>
    </div>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        if (!window.matchMedia('(display-mode: standalone)').matches) {
          document.querySelector("#in-browser-notice").classList.toggle("hidden");
        }
      });

      class KeyManager {
        constructor(keyPair) {
          this.peer = KeyManager.createPeer();
          // TODO replace with public—private key generation
          this.privateKey = keyPair.private;
          this.publicKey = keyPair.public;
          this.knownPeers = {};
          this.knownKeys = [];

          this.peer.on("connection", (conn) => {
            if (conn.peer in this.knownPeers) {
              return;
            }
            this.configureConnection(conn);
            var self = this;

            conn.on("open", async () => {
              const publicKeyFormatted = new Uint8Array(await window.crypto.subtle.exportKey("spki", self.publicKey))
              this.knownPeers[conn.peer] = conn;
              conn.send({
                type: "syn",
                key: publicKeyFormatted.join(','),
                knownPeers: Object.keys(this.knownPeers),
              });
            });
          });
        }

        connect(peerId) {
          if (peerId in this.knownPeers || peerId === this.peer.id) {
            return;
          }
          const connection = this.peer.connect(peerId);
          this.configureConnection(connection);
        }

        removePeer(peerId) {
          delete this.knownPeers[peerId];
          delete this.knownKeys[peerId];
        }

        configureConnection(connection) {
          var self = this;
          connection.on("open", () => {
            this.knownPeers[connection.peer] = connection;
            const messagesRoot = document.querySelector("#join-messages");
            const message = document.createElement('span')
            message.innerHTML = `Connected to ${connection.peer}`;
            messagesRoot.appendChild(message);
          });
          connection.on("close", () => this.removePeer(connection.peer));
          connection.on("error", () => this.removePeer(connection.peer));
          connection.on("data", async (data) => {
            if (data.type === "syn") {
              this.knownKeys[connection.peer] = data.key;
              const formattedKey = new Uint8Array(await window.crypto.subtle.exportKey("spki", self.publicKey))
              this.knownPeers[connection.peer].send({
                type: "ack",
                key: formattedKey.join(','),
              });
              data.knownPeers.forEach((peerId) => {
                if (!(peerId in this.knownKeys)) {
                  this.connect(peerId);
                }
              });
            } else if (data.type === "ack") {
              this.knownKeys[connection.peer] = data.key;
            } else if (data.type === "save") {
              await this.save();
              this.reload();
            }
          });
        }

        close() {
          Object.values(this.knownPeers).forEach((peer) => {
            peer.send({ type: "save" });
          });
          this.save();
          this.reload();
        }

        async save() {
          const k = await window.crypto.subtle.exportKey("pcks8", this.privateKey);
          const p = (new Uint8Array(k)).join(',');
          window.localStorage.setItem(
            "keys",
            JSON.stringify({
              id: this.peer.id,
              knownKeys: this.knownKeys,
              privateKey: p,
            })
          );
          this.peer.destroy();
        }

        reload() {
          window.location.reload();
        }

        static createPeer() {
          return new Peer({
            host: "{{ peerjs_host }}",
            port: {{ peerjs_port }},
            path: "{{ peerjs_path }}",
            secure: true,
          });
        }
      }

      let manager = null;

      if (window.localStorage.getItem("keys")) {
        document.querySelector("#init-root").remove();
        document.querySelector(
          "#root"
        ).innerHTML = `react will be here, store: ${window.localStorage.getItem(
          "keys"
        )}`;
      } else {
        crypto.subtle.generateKey({name: 'RSA-OAEP', modulusLength: 4096, publicExponent: new Uint8Array([0x01, 0x00, 0x01]), hash: 'SHA-512'}, true, ["encrypt", "decrypt"])
        .then(keyPair => {
          manager = new KeyManager(keyPair);
          document
            .querySelector("#join-btn")
            .addEventListener("click", async () => {
              const sessionId = document.querySelector("#join-session-id").value;
              const response = await fetch(`/session/${sessionId}`);
              const data = await response.json();
              manager.connect(data.peer_id);
            });
        })
      }
    </script>
  </body>
</html>
